body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    height: 100vh;

}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #1F2937;
    padding: 10px 70px; 
}

.herocontainer h1 {
    font-size: 48px;
}

.logo {
    display: flex;
    align-items: center;
}

.button {
    border-radius: 7px;
    padding: 5px;

}
.links {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sectionone img {
    width: 400px;
    height: 200px;
}

.feedback img {
    width: 130px;
    height: 130px;
    border-radius:15%;
    border: 3px solid #1F2937;
}

.sectionone {
    display: flex;
    margin: 20px 20px;
    color: white;
    gap: 40px;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
}

.feedback-heading {
    display: flex;
    justify-content: center;
}

.feedback-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    margin: 10px;
}

.sectionthree {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 10px 70px; 
}

.sectionthree p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.sectionthree .quote {
    font-size: 30px;
    text-align: right;   
}

.sectionfour {
    display: flex;
    padding: 100px;
}

.sectionfourcontent {
    background-color: #3882F6;
    width: 60em;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2em;
}

.sectionbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionbutton button {
    padding: 10px;
    border-radius: 1em;
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    width: 500%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
}