body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;

}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #1F2937;
    padding: 10px 70px; 
}

.herocontainer h1 {
    font-size: 48px;
}
.logo {
    display: flex;
    align-items: center;
}

.button {
    border-radius: 7px;
    padding: 5px;

}
.links {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sectionone img {
    width: 400px;
    height: 200px;
}

.feedback img {
    width: 130px;
    height: 130px;
    border-radius:15%;
    border: 3px solid #1F2937;
}

.sectionone {
    display: flex;
    margin: 20px 20px;
    color: white;
    gap: 40px;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
}

.feedback-heading {
    display: flex;
    justify-content: center;
}

.feedback-container {
    display: flex;
    justify-content: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    margin: 10px;
}

.sectionthree {
    background-color: #e5e7eb;
}